:root {
  --shadow: #888683cb;
  --gold-lighter: #deb5549a;
  --white-primary: #f1ebeb;
  --black-primary: #312f2f;
  --background: #faf8ea;
  --glass: #ffffff26;
  --red: #ff1e00;
  --orange: #ff8800;
  --title: 'Sacramento', cursive;
  --paragraph: 'Vollkorn', serif;
}

body {
  height: 100vh;
}
