:root {
  --shadow: #888683cb;
  --gold-lighter: #deb5549a;
  --white-primary: #e7e7de;
  --black-primary: #312f2f;
  --background: #fffaf0;
  --glass: #ffffff26;
  --red: #ff1e00;
  --orange: #ff7300;
  --title: 'Yellowtail', cursive;
  --paragraph: 'Vollkorn', serif;
}

body {
  height: 100vh;
}
