/* The book's stylization was based on the following codes: codepen.io/poulamic/pen/RwrKqmb, codepen.io/dhanishgajjar/pen/bjaYYo */
.book {
  transform-style: preserve-3d;
  position: absolute;
  height: 130vw;
  width: 100vw;
  cursor: pointer;
  backface-visibility: hidden;
  z-index: 1;
  top: calc(50vh - 65vw);
  overflow-x: auto;
}

*:after { 
  box-sizing: inherit; 
}
*:after { 
  content: ""; 
  position: absolute;
} 

.front:after{
  height: 4vh;
  width: 98%; 
  bottom: 4px;
  right:0;
  background: whitesmoke;
  backface-visibility: hidden;
  position: absolute;
  border-radius: 10px 0px 0px 4px;
  box-shadow: inset 4px 6px 0px 0px #a19d9d;  
  background-image: linear-gradient(to bottom, transparent 6px, #E4E0CE 8px, transparent 8px, transparent 12px, #E4E0CE 12px, transparent 14px, transparent 18px,#E4E0CE 18px, transparent 20px, transparent 24px, #E4E0CE 24px, transparent 26px, transparent 30px, #E4E0CE 30px, transparent 32px, transparent 36px, #E4E0CE 36px, transparent 38px, transparent 42px, #E4E0CE 42px, transparent 44px, transparent 48px, #E4E0CE 48px, transparent 50px);
}

.frontDark:after {
  background: rgba(207, 183, 137, 0.938);
  box-shadow: inset 4px 6px 0px 0px #a59b6c;
  background-image: linear-gradient(to bottom, transparent 6px, #E4E0CE 8px, transparent 8px, transparent 12px, #E4E0CE 12px, transparent 14px, transparent 18px,#E4E0CE 18px, transparent 20px, transparent 24px, #E4E0CE 24px, transparent 26px, transparent 30px, #E4E0CE 30px, transparent 32px, transparent 36px, #E4E0CE 36px, transparent 38px, transparent 42px, #E4E0CE 42px, transparent 44px, transparent 48px, #E4E0CE 48px, transparent 50px);
}

.front, .back, .page1, .page2, .page3, .page4, .page5, .page6 {
  transform-style: preserve-3d;
  position: absolute;
  width: 85%;
  height: 98%;
  top: 1.5%; left: 5%;
  transform-origin: left center;
  transition: transform .5s ease-in-out, box-shadow .35s ease-in-out;
  border-radius: 10px 16px 12px 10px;
}

.front, .back {
  background-color: #610000;
  background-image: url("https://www.transparenttextures.com/patterns/leather.png");
  width: 90%;
}

.page1, .page2, .page3, .page4, .page5, .page6 { 
  background: var(--white-primary);
}

.page1Dark, .page2Dark, .page3Dark, .page4Dark, .page5Dark, .page6Dark {
  background: url('../images/darkPage.png');
}

.page4, .page4Dark {
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

.bookSelected .front:after {
  display: none;
  backface-visibility: hidden;
  left: 92%;
}

.bookSelected .front{
  transform: rotateY(-180deg);
  z-index: 0;
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  left: 92%;
}

.bookSelected .page1 {
  transform: rotateY(-175deg);
  z-index: 2;
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  left: 92%;
}

.bookSelected .page2 {
  transform: rotateY(-150deg);
  z-index: 2;
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  left: 92%;
}

.bookSelected .page3 {
  transform: rotateY(-120deg);
  z-index: 2;
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  left: 92%;
}

.bookSelected .page4 {
  transform: rotateY(-20deg);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  left: 92%;
}

.bookSelected .page5 {
  transform: rotateY(-15deg);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  left: 92%;
}

.bookSelected .page6 {
  transform: rotateY(-5deg);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  left: 92%;
}

.bookSelected .back {
  transform: rotateY(0deg);
  left: 92%;
}

.arabesque {
  height: 95%;
  width: 100%;
  bottom: .5%;
  position: relative;
}

.bookSelected .arabesque, .bookNextPage .arabesque {
  display: none;
}

.coverText {
  position: absolute;
  z-index: 2;
  top: 15%; left: 0;
  text-align: center;
  width: 100%;
  font-family: var(--title);
  font-size: 5vh;
  color: #500c0c;
  text-shadow: #ca6666 1px 1px 0, 2px 2px 2px rgba(206,89,55,0);
  line-height: 10vh;
}

.myPic {
  width:100%;
  height: 80%;
}

.aboutTitle {
  font-family: var(--title);
  font-size: 35px;
  color: #500c0c;
  text-align: center;
  padding: 2%;
}

.aboutText {
  font-family: var(--paragraph);
  font-size: 20px;
  color: #500c0c;
  text-align: left;
  padding: 0 5%;
}
@media (max-width: 902px) and (min-width: 500px) {
  .book {
    width: 100vw;
    height: 140vw;
    top: calc((100vh - 140vw)/2);
  }

  .front, .back, .page1, .page2, .page3, .page4, .page5, .page6 {
    top: 17.5%;
    left: 18.5%;
    width: 60%;
    height: 65%;
  }

  .front, .back {
    width: 63%;
  }

  .bookSelected .front:after {
    left: 68%;
  }
  
  .bookSelected .front {
    left: 68%;
  }
  
  .bookSelected .page1 {
    left: 68%;
  }
  
  .bookSelected .page2 {
    left: 68%;
  }
  
  .bookSelected .page3 {
    left: 68%;
  }
  
  .bookSelected .page4 {
    left: 68%;
  }
  
  .bookSelected .page5 {
    left: 68%;
  }
  
  .bookSelected .page6 {
    left: 68%;
  }
  
  .bookSelected .back {
    left: 68%;
  }
}

@media (orientation: landscape) {
  .book {
    width: 100vh;
    left: calc(50vw - 50vh);
    height: 70%;
    top: 15%;
    overflow-x: hidden;
  }

  .front, .back, .page1, .page2, .page3, .page4, .page5, .page6 {
    left: 23.5%;
    width: 47%;
    height: 97%;
    top: 0;
  }
  
  .front, .back {
    width: 50%;
  }

  .bookSelected .front:after {
    left: 50%;
  }
  
  .bookSelected .front {
    left: 50%;
  }
  
  .bookSelected .page1 {
    left: 50%;
  }
  
  .bookSelected .page2 {
    left: 50%;
  }
  
  .bookSelected .page3 {
    left: 50%;
  }
  
  .bookSelected .page4 {
    left: 50%;
  }
  
  .bookSelected .page5 {
    left: 50%;
  }
  
  .bookSelected .page6 {
    left: 50%;
  }
  
  .bookSelected .back {
    left: 50%;
  }
}