* {box-sizing:border-box}

.carouselContainer {
  width: 100vw;
  height: 86vh;
  position: relative;
  margin: auto;
}

.carouselItem {
  display: none;
}

.showItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100%;
}

.numbertext {
  color: #0f0c0c;
  font-size: 2vh;
  height: 5%;
  width: 15%;
  padding: 2%;
  text-align: center;
  align-self: flex-start;
}

.projectTitle {
  color: #141111;
  text-align: center;
  font-family: var(--title);
  width: 100vw;
  height: 10%;
  z-index: 2;
  font-size: 35px;
  text-shadow: 0px 15px 5px rgba(0,0,0,0.1),
            10px 20px 5px rgba(0,0,0,0.05),
            -10px 20px 5px rgba(0,0,0,0.05);
}

.cover {
  width: 100%;
  height: 40%;
  top: 15%;
  animation-name: open;
  animation-duration: 2s;
  position: absolute;
  z-index: 1;
  transform: rotate(50deg) translate(25%, -120%);
}

@keyframes open {
  from {transform: rotate(0deg);}
  to {transform: rotate(50deg) translate(25%, -120%);}
}

.showItem .projectGif, .showItem .recipesGif {
  animation: show 0s .5s forwards;
  transition: 1s;
  opacity: 0;
  border-radius: 5%;
  margin-bottom: 2%;
}

.showItem .projectGif {
  width: 97%;
  height: 40%;
}

.showItem .recipesGif {
  width: 50%;
  height: 50%;
}

@keyframes show {
  50% {
      opacity: .5;
  }
  100% {
      opacity: 1;
  }
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.text {
  text-align: center;
  margin: 0 1vh;
  font-family: var(--paragraph);
  height: 32%;
  overflow-y: scroll;
}

.text p {
  font-size: 20px;
}

.linkWrapper {
  height: 9%;
}

.repoLink {
  filter: drop-shadow(2px 4px 6px var(--red));
  color: rgb(31, 29, 29);
  font-size: 6vh;
}

.repoLink:hover {
  color: var(--orange);
  filter: drop-shadow(2px 4px 6px var(--back-primary));
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  width: fit-content;
  margin-top: -22px;
  padding: 2vh;
  color: var(--orange);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  background-color: transparent;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

@media (orientation: landscape) {
  .carouselContainer {
    width: 60vw;
  }

  .projectTitle {
    font-size: 60px;
  }

  .prev, .next {
    height: 20%;
    width: 7%;
    top: 40%;
    z-index: 5;
    margin: 1%;
  }

  .prev {
    border-radius: 5% 30%;
  }

  .next {
    border-radius: 30% 5%;
  }

  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .controlProject {
    font-size: 4vh;
  }

  .showItem .cover {
    width: 60%;
    height: 50%;
  }

  .text {
    font-size: 2.5vh;
    overflow-y: auto;
    height: 20%;
    width: 65%;
  }

  .showItem .projectGif {
    width: 65%;
    height: 60%;
    border-radius: 2%;
  }

  .showItem .recipesGif {
    width: 25%;
  }
}