.headerBar {
  height: 7vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 10;
  box-shadow: 0px -15px 10px 15px var(--shadow),
              1px -16px 11px 16px var(--shadow);
  background-color: var(--orange);
}

.exitBtn, .menuBtn {
  background-color: transparent;
  border: none;
  font-family: var(--title);
  font-size: 4vh;
  color: var(--black-primary);
  width: fit-content;
  cursor: pointer;
  margin-left: .5em;
}

.logo {
  display: none;
}

.navBar {
  display: none;
}

.changeButtons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 34vh;
  height: 7vh;
}

/* Switch based on the following link: https://codepen.io/avstorm/pen/jOEpBLW */
.switchWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sun, .moon{
  width: 5vh;
}

.switch {
  margin-right: 1vh;
  height: 32px;
  width: 52px;
  border-radius: 16px;
  display: inline-block;
  position: relative;
  margin: 0;
  border: 2px solid #ebc72a;
  background: linear-gradient(180deg, #ddc01e 0%, #ebc72a 100%);
  transition: all .2s ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.switch:focus {
  outline: 0;
}

.switch::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 24px;
  height: 24px;
  background: rgb(49, 41, 41);
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(44,44,44,.2);
  transition: all .2s cubic-bezier(.5,.1,.75,1.35);
}

.switch:checked {
  border-color: rgb(17, 19, 18);
  background: linear-gradient(180deg, #2D2F39 0%, #1F2027 100%);
}

.switch:checked::after {
  transform: translatex(20px);
  background: white;
}

.languages {
  margin: .5em;
  width: 15vh;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.brazil, .usa{
  cursor: pointer;
  margin: 1vh;
  width: 32%;
  height: 60%;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.brazil:hover, .usa:hover {
  transform: scale(0.8);
}

@media (orientation: landscape) {
  .menuBtn {
    display: none;
  }
  .navBar {
    display: flex;
    justify-content: space-between;
    justify-self: center;
    width: 40vw;
  }
  
  button {
    background-color: transparent;
    border: none;
    font-family: var(--title);
    font-size: 3vh;
    color: var(--black-primary);
    cursor: pointer;
    text-align: center;
    padding: 0 10px;
    width: 13vw;
  }
  
  button .food {
    display: none;
  }
  
  button:hover .tech {
    display: none;
  }
  
  button:hover .food {
    display: inline;
  }
  
  .logo {
    display: block;
    width: 7vh;
    margin-right: 27vh;
    margin-left: .5em;
    filter: drop-shadow(2px 2px 2px black);
  }
  
  .logo:hover {
    filter: drop-shadow(6px 6px 2px red);
    transform: scale(0.8);
  }
  
}
