.notFoundWrapper {
  width: 100vw;
  height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.notFoundImg {
  width: 80vw;
  height: 60vh;
}

.backHome {
  background-color: var(--black-primary);
  color: var(--white-primary);
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: var(--title);
  font-size: 3vh;
}

.backHomeLink:hover {
  box-shadow: 6px 6px 10px var(--red);
}

@media (orientation: landscape) {
  .notFoundImg {
    width: 50vw;
    height: 90vh;
  }
}