.notFoundWrapper {
  width: 100vw;
  height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notFoundImg {
  width: 100vw;
  height: 70vh;
}

@media (orientation: landscape) {
  .notFoundImg {
    width: 60vw;
    height: 100vh;
  }
}