:root {
  --shadow: #888683cb;
  --gold-lighter: #deb5549a;
  --white-primary: #e7e7de;
  --black-primary: #312f2f;
  --background: #fffaf0;
  --glass: #ffffff21;;
  --red: #ff1e00;
  --orange: #ff7300;
  --title: 'Yellowtail', cursive;
  --paragraph: 'Vollkorn', serif;
}

.appLight, .appDark {
  height: 100vh;
  position: relative;
  background-position: center;
  background-size: cover;
  width: 100vw;
}

.appLight {
  background-image: url('./images/backgroundLight_cel.png');
}

.appDark {
  background-image: url('./images/backgroundDark_cel.png');
}

@media (orientation:landscape) {
  .appLight {
  background-image: url('./images/backgroundLight.png');  
  }

  .appDark {
    background-image: url('./images/backgroundDark.png');  
    }
}
